absl-py==0.11.0
aiohttp==3.7.3
alembic==1.6.5
antlr4-python3-runtime==4.8
appdirs==1.4.4
argon2-cffi==20.1.0
ase==3.21.1
astor==0.8.1
astunparse==1.6.3
async-generator==1.10
async-timeout==3.0.1
attrs==20.2.0
backcall==0.2.0
black==21.4b2
bleach==3.2.1
cachetools==4.1.1
certifi==2020.12.5
cffi==1.14.6
chardet==3.0.4
click==8.0.1
cliff==3.8.0
cloudpickle==1.6.0
cmaes==0.8.2
cmd2==2.1.2
colorama==0.4.4
colorlog==5.0.1
configparser==5.0.2
cycler==0.10.0
cython==0.29.24
decorator==4.4.2
defusedxml==0.6.0
detectron2==0.5
distance-map==1.0.1
docker-pycreds==0.4.0
entrypoints==0.3
fsspec==2021.6.1
future==0.18.2
fvcore==0.1.5.post20210804
gast==0.3.3
gitdb==4.0.7
gitpython==3.1.18
google-auth-oauthlib==0.4.2
google-auth==1.23.0
google-pasta==0.2.0
greenlet==1.1.1
grpcio==1.33.2
gym==0.18.0
h5py==2.10.0
horovod==0.22.1
hydra-core==1.1.0
idna==2.10
imageio==2.9.0
importlib-resources==5.2.2
iniconfig==1.1.1
iopath==0.1.9
ipdb==0.13.4
ipykernel==5.3.4
ipython-genutils==0.2.0
ipython==7.18.1
ipywidgets==7.5.1
jedi==0.17.2
jinja2==2.11.2
joblib==0.17.0
json5==0.9.5
jsonschema==3.2.0
jupyter-client==6.1.7
jupyter-core==4.7.0
jupyterlab-pygments==0.1.2
jupyterlab-server==1.2.0
jupyterlab==2.2.9
keras-preprocessing==1.1.2
keras==2.4.3
kiwisolver==1.2.0
lightning-bolts==0.3.4
llvmlite==0.36.0
loguru==0.5.3
mako==1.1.4
markdown==3.3.3
markupsafe==1.1.1
matplotlib==3.3.2
mistune==0.8.4
model-zoo==0.4.1
multidict==5.1.0
mypy-extensions==0.4.3
nbclient==0.5.1
nbconvert==6.0.7
nbformat==5.0.8
nest-asyncio==1.4.3
networkx==2.5
nibabel==3.2.1
ninja==1.10.0.post2
notebook==6.1.5
numba==0.53.1
numpy==1.18.5
oauthlib==3.1.0
odfpy==1.4.1
olefile==0.46
omegaconf==2.1.0
opencv-contrib-python==4.4.0.44
opencv-python==4.4.0.44
openexr==1.3.2
opt-einsum==3.3.0
optuna==2.9.1
packaging==20.4
pandas==1.1.4
pandocfilters==1.4.3
parso==0.7.1
pathspec==0.9.0
pathtools==0.1.2
pbr==5.6.0
pexpect==4.8.0
pickleshare==0.7.5
pillow==7.2.0
pip==20.3.3
plotly==4.14.3
pluggy==0.13.1
plyfile==0.7.2
portalocker==2.3.0
prettytable==2.1.0
prometheus-client==0.9.0
promise==2.3
prompt-toolkit==3.0.8
protobuf==3.14.0
psutil==5.8.0
ptyprocess==0.6.0
py==1.9.0
pyasn1-modules==0.2.8
pyasn1==0.4.8
pycocotools==2.0.2
pycparser==2.20
pydeprecate==0.3.0
pydicom==2.1.2
pydot==1.4.2
pyglet==1.5.0
pygments==2.7.1
pyparsing==2.4.7
pyperclip==1.8.2
pyrsistent==0.17.3
pyscal==2.10.13
pytest==6.1.1
python-dateutil==2.8.1
python-editor==1.0.4
pytorch-lightning==1.3.7
pytz==2020.4
pywavelets==1.1.1
pyyaml==5.4.1
pyzmq==20.0.0
regex==2021.8.3
requests-oauthlib==1.3.0
requests==2.25.0
retrying==1.3.3
rsa==4.6
scikit-image==0.17.2
scikit-learn==0.23.2
scipy==1.5.3
seaborn==0.11.1
send2trash==1.5.0
sentry-sdk==1.3.0
setuptools==52.0.0.post20210125
shortuuid==1.0.1
simpleitk==2.0.2
six==1.15.0
sklearn==0.0
smmap==4.0.0
spherical-distortion==1.0.3
sqlalchemy==1.4.22
stevedore==3.3.0
subprocess32==3.5.4
tabulate==0.8.9
tensorboard-plugin-wit==1.7.0
tensorboard==2.4.0
tensorflow-estimator==2.3.0
tensorflow==2.3.1
termcolor==1.1.0
terminado==0.9.1
testpath==0.4.4
threadpoolctl==2.1.0
tifffile==2020.10.1
toml==0.10.1
torch==1.7.1
torchmetrics==0.4.1
torchvision==0.8.2
tornado==6.1
tqdm==4.50.2
traitlets==5.0.5
typing-extensions==3.7.4.3
unidecode==1.1.1
urllib3==1.26.2
wandb==0.10.33
wcwidth==0.2.5
webencodings==0.5.1
werkzeug==1.0.1
wheel==0.36.2
widgetsnbextension==3.5.1
wrapt==1.12.1
xlrd==2.0.1
yacs==0.1.8
yarl==1.6.3
zipp==3.5.0